.container{
  margin-left: 3rem;
  padding-top: 3rem;
  margin-top: 2rem;
  overflow: auto;
}

.forgotPasswordContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}
.setPassword_logo_text{
    font-weight: 600;
  font-size: 25px;
  font-family: "Graphik";
  color: #fff;
  margin-left: 0rem;
  margin-top: 0.3rem;
}
.forgotPassword_card{
    display: flex;
    border-radius: 2.5rem;
    margin-left: 0.5rem;
    margin-bottom: 5rem;
    margin-right:6rem;
    margin-top: 10rem;
  
    
}
.forgotPassword_main_text_div{
padding: 50px; 
gap: 15px;
}
.forgotPassword_second_text_div{
margin-top: 0.8rem;
/* margin-right: 25rem; */
}
.forgotPassword_h1_div {
  margin-left: 0rem;
}
.forgotPassword_h1 {
  /* font-family: "Graphik";
  font-size: 1.8rem;
  font-weight: 600; */
  font-family: "Graphik";
  font-size: 24px;
  font-weight: 600;
  color: #2c2e2f;
  letter-spacing: -0.2px;
  line-height: 32px;
  margin-top: 1rem;
}
.forgotPassword_cancel_button{
  margin-right: 1rem;
}