.container{
    flex: 1;
  margin-left: 3rem;

  padding-top: 3rem;

  margin-top: 2rem;
  overflow: auto;
}
.setPassword_logo_text{
    font-weight: 600;
  font-size: 25px;
  font-family: "Graphik";
  color: #fff;
  margin-left: 0rem;
  margin-top: 0.3rem;
}
.containerCard{
    display:'flex'; 
    border-radius:'2.5rem';
     margin-left:'21.5rem';
     margin-bottom:'5rem';
}
.forgotPassword_card{
  display: flex;
  border-radius: 2.5rem;
  margin-left: 29.5rem;
  margin-bottom: 5rem;
  margin-right:3rem;
}
.forgotPassword_main_text_div{
padding: 50px; 
gap: 15px;
}
.forgotPassword_second_text_div{
margin-top: 1rem;
margin-right: 25rem;
}

.forgotPassword_cancel_button{
  margin-right: 1rem;
}

